<div>
    <div class="row ps-3 pt-4"><h1>Đơn Đăng Ký Tiêm Chủng</h1></div>
    <div class="row d-flex align-items-center justify-content-center">
        <div class="col-10">
            <div class="row">
                <div class="col-4 mt-5"><strong>Người Tiêm Chủng</strong></div>
                <div class="col-8 mt-5">{{register.name}}</div>
            </div>
            <div class="row">
                <div class="col-4 mt-5"><strong>Tuổi</strong></div>
                <div class="col-8 mt-5">{{register.age}}</div>
            </div>
             <div class="row">
                <div class="col-4 mt-5"><strong>Giới Tính</strong></div>
                <div class="col-8 mt-5">{{register.gender}}</div>
            </div>
             <div class="row">
                <div class="col-4 mt-5"><strong>Tên Mũi Tiêm</strong></div>
                <div class="col-8 mt-5">{{register.nameVaccine}}</div>
            </div>
             <div class="row">
                <div class="col-4 mt-5"><strong>Ngày Tiêm</strong></div>
                <div class="col-8 mt-5">{{register.date}}</div>
            </div>
             <div class="row">
                <div class="col-4 mt-5"><strong>Giờ Tiêm</strong></div>
                <div class="col-8 mt-5">{{register.time}}</div>
            </div>
        </div>
    </div>
    <div class="row m-5">
        <a href="/admin/register" class="btn btn-danger ms-auto me-3" style="width: 80px;">Huỷ</a>
        <button class="btn btn-success me-5" style="width:80px;">Duyệt</button>
    </div>
</div>