<div>
    <div class="row ps-3 pt-4"><h1>Danh Sách Đăng Ký</h1></div>
    
    </div>
    <div class="container">
        <div class="row me-5">
            <table class="table m-5 pe-5 shadow rounded-5">
                <thead class="header-table">
                <tr style="height: 40px;">
                    <th style="width:200px;">Tên</th>
                    <th style="width:200px;">Tuổi</th>
                    <th style="width:200px;">Loại</th>
                    <th style="width:200px;">Thời gian</th>
                    <th style="width:200px;">Ngày</th>
                    <th class="text-center" style="width:200px;">Xử Lý</th>
                </tr>
                </thead>
                <tbody>
                    {{#each Registers}}
                    <tr>
                        <td>{{this.name}}</td>
                        <td>{{this.age}}</td>
                        <td>{{this.option}}</td>
                        <td>{{this.time}}</td>
                        <td>{{this.date}}</td>
                        <td class="d-flex justify-content-center">
                            {{#if (option this.option "Khám Bệnh")}}
                                <a href="/admin/register/seeadoctor/{{this._id}}" class="btn btn-success me-4">Xem</a>
                            {{else if (option this.option "Tiêm Chủng")}}
                                <a href="/admin/register/injection/{{this._id}}" class="btn btn-success me-4">Xem</a>
                            {{/if}}
                            <button class="btn btn-primary">Duyệt</button>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
   