<form class="mt-4" name="container-form" method="POST" action="/courses/handle-form-actions">
    <div>
      <h3>Khoá học của tôi</h3>
      <a href="/me/trash/courses">Trash {{deletedCount}}</a>
      <div class="mt-4 d-flex align-items-center ">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" value="" id="checkbox-all">
          <label class="form-check-label" for="checkbox-all">
            Choice All
          </label>
        </div>
        <select class="form-control form-control-sm m-3" style="width: 200px" aria-label="Default select example" name="action" required>
          <option value="" selected>Chọn hành động</option>
          <option value="delete">Delete</option>
          
        </select>
        <button class="btn btn-primary btn-sm btn-check-all-submit" disabled>Thực hiện</button>
      </div>
    </div>
    <table class="table mt-4">
        <thead>
            <tr>
            <th scope="col" colspan="2">#</th>
            <th scope="col">Tên Khoá Học 
              {{{sortable 'name' _sort}}}
            </th>
            <th scope="col">Level
              {{{sortable 'level' _sort}}}
            </th>
            <th scope="col" colspan="2">Thời gian tạo
              {{{sortable 'createAt' _sort}}}
            </th>
            </tr>
        </thead>
        <tbody>
            {{#each courses}}
            <tr>
                <td><input class="form-check-input" type="checkbox" name="courseIds[]" value="{{this._id}}"></td>
                <th scope="row">{{sum @index 1}}</th>
                <td>{{this.name}}</td>
                <td>{{this.level}}</td>
                <td>{{this.createdAt}}</td>
                <td>
                    <a href="/courses/{{this._id}}/edit" class="btn btn-link">Sửa</a>
                    <a href="" class="btn btn-link" data-id="{{this._id}}" data-bs-toggle="modal" data-bs-target="#delete-course-modal">Xoá</a>
                </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="5" class="text-center">Bạn chưa đang khoá học nào</td>
              <a href="/courses/create">Đăng khoá học</a>
            </tr>
      
            {{/each}}
        </tbody>
    </table>
</form>


{{!-- Modal --}}
<div class="modal" id="delete-course-modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Xoá Khoá Học</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Bạn có muốn xoá khoá học này không?</p>
      </div>
      <div class="modal-footer">
        <button id="btn-delete-course" type="button" class="btn btn-danger">Xoá Bỏ</button>
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Huỷ</button>
      </div>
    </div>
  </div>
</div>

<form method="POST" name="delete-course-form"></form>
<script>
    document.addEventListener('DOMContentLoaded',function(){
        var courseId
        var deleteForm = document.forms['delete-course-form']
        var containerForm = $('form[name= "container-form"]')
        var courseItemCheckbox = $('input[name="courseIds[]"]')
        var checkboxAll = $('#checkbox-all')
        var checkAllSubmit = $('.btn-check-all-submit')
       

        //Delete Course Confirm
        $('#delete-course-modal').on('show.bs.modal',function(e){
            var button = $(e.relatedTarget)
            courseId = button.data('id')
           
            
        })
        //Delete course
        $('#btn-delete-course').on('click',function(){
            deleteForm.action = '/courses/' + courseId + '?_method=DELETE'
            deleteForm.submit()
        })

        //Checkbox ALl clicked
        checkboxAll.change(function(){
          var isCheckedAll = $(this).prop('checked')
          courseItemCheckbox.prop('checked', isCheckedAll)
          renderCheckAllSubmitBtn()

        
        })
        //Course Item Checkbox Change
        courseItemCheckbox.change(function(){
          var isCheckedAll = courseItemCheckbox.length === $('input[name="courseIds[]"]:checked').length
          checkboxAll.prop('checked', isCheckedAll)
          renderCheckAllSubmitBtn()
        })
        //Check All submit 
        containerForm.on('submit', function(e){
          var isSubmittable = !checkAllSubmit.hasClass('disabled')
          if(!isSubmittable){
            e.preventDefault()
          }
        })
        //Render check submit box
        function renderCheckAllSubmitBtn() {
            var checkedCount = $('input[name="courseIds[]"]:checked').length
            if(checkedCount > 0){
                checkAllSubmit.attr('disabled', false)
            }else{
              checkAllSubmit.attr('disabled', true)
            }
        }

    })
    
</script>